<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Вход</title>
<link href="../public/auth.css" rel="stylesheet">
</head>
<body>
<div id="container">
<div id="wb_Login1">
<form name="loginform" method="post" accept-charset="UTF-8" action="auth">
<table id="Login1">
<tr>
   <td class="header">Вход</td>
</tr>
<tr>
   <td class="label"><label>Имя пользователя</label></td>
</tr>
<tr>
   <td class="row"><input class="input" name="login" type="text" value=""></td>
</tr>
<tr>
   <td class="label"><label>Пароль</label></td>
</tr>
<tr>
   <td class="row"><input class="input" name="password" type="password" value=""></td>
</tr>
<tr>
   <td style="text-align:center;vertical-align:bottom"><input class="button" type="submit" name="submit" value="Вход"></td>
</tr>
</table>
</form>
</div>
</div>
</body>
</html>